* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: #0f172a;
  color: #ffffff;
}

.Nav-bar {
  background-color: black;
  color: white;
  padding: 10px 20px 10px 20px;
  text-align: center;
  margin: 10px 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

